### Symfony framework ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
node_modules/
.cache/

### PHPUnit ###
.phpunit.result.cache
/phpunit.xml
/.phpunit.cache/

### Docker ###
/docker/mysql/init.sql
/docker/db/*.sql
/docker-compose.override.yml

### IDE (naudojant VS Code, PHPStorm) ###
.idea/
/.vscode/

### Logai ###
*.log

###> symfony/webpack-encore-bundle ###
/node_modules/
/public/build/
npm-debug.log
yarn-error.log
###< symfony/webpack-encore-bundle ###
