{% extends 'base.html.twig' %}

{% block title %}Create Book{% endblock %}

{% block body %}
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h1 class="mb-4">Create a New Book</h1>

            {# Papildomas konteineris klaidoms, kad testai galėtų rasti .form-error-message #}
            <div id="form-errors" class="form-error-message text-danger mb-3"></div>

            <div id="form-container">
                {% include 'book/_form.html.twig' %}
            </div>
        </div>
    </div>
{% endblock %}
