{% extends 'base.html.twig' %}

{% block title %}New Book{% endblock %}

{% block body %}
    <h1>Create new Book</h1>

    {{ form_start(form, {'attr': {'id': 'book-form'}}) }}
        {{ form_widget(form) }}
        <button class="btn btn-primary">Save</button>
    {{ form_end(form) }}

    <a href="{{ path('app_book_index') }}">back to list</a>

    <div id="book-list"></div>
{% endblock %}
